{% extends 'BundleAdminBundle:layout:base.html.twig' %}
{% block content %}
<div class="container-fluid">
<!-- BEGIN PAGE TITLE & BREADCRUMB-->
    <h3 class="page-title">
        {% if heading is defined %}{{heading}} {% endif%}
    </h3>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="{{path('bundle_admin_dashboard')}}">Home</a> 
            <i class="icon-angle-right"></i>
        </li>
         <li>
            <a href="{{path('contact_question')}}">Manage Contact Question</a> 
            <i class="icon-angle-right"></i>
        </li>
        <li><a href="#">{% if heading is defined %}{{heading}} {% endif%}</a></li>
    </ul>
    <!-- END PAGE TITLE & BREADCRUMB-->

    <div class="row-fluid">
        <div class="span12">
            <!-- BEGIN VALIDATION STATES-->
            <div class="portlet box grey">
                <div class="portlet-title">
                    <div class="tools">
                        <a href="{{path('contact_question')}}" class="btn icn-only"  title="Back">
                        <i class="m-icon-swapleft"></i></a>									
                    </div>
                </div>                            
                
                <div class="portlet-body form">
                	<form class="form-horizontal">
                    	{% for flashSuccessMessage in app.session.flashbag.get('success_message') %}                
                            <div class="alert alert-success">
                                <button class="close" data-dismiss="alert"></button>
                                {{ flashSuccessMessage }}
                            </div>
                        {% endfor %}
                        
                        {% for flashErrorMessage in app.session.flashbag.get('error_message') %}                
                            <div class="alert alert-error">
                                <button class="close" data-dismiss="alert"></button>
                                {{ flashErrorMessage }}
                            </div>
                        {% endfor %}
                    </form>
                    <!-- BEGIN FORM-->
                    {% form_theme edit_form 'BundleAdminBundle:Form:fields.html.twig' %}
                    {{ form_start(edit_form) }}
                    {{form_widget(edit_form)}} 
                    <input type="hidden" name="hidden_categoryid" id="hidden_categoryid" value="{{parentid}}"/>                   
                    {{ form_end(edit_form) }}					
                    <!-- END FORM-->
                    
                </div>
            </div>
            <!-- END VALIDATION STATES-->
        </div>
    </div>

	<!-- BEGIN PAGE LEVEL PLUGINS -->
	<script type="text/javascript" src="{{asset('bundles/BundleAdmin/assets')}}/plugins/select2/select2.min.js"></script>
	<script type="text/javascript" src="{{asset('bundles/BundleAdmin/assets')}}/plugins/data-tables/jquery.dataTables.js"></script>
	<script type="text/javascript" src="{{asset('bundles/BundleAdmin/assets')}}/plugins/data-tables/DT_bootstrap.js"></script>
	<!-- END PAGE LEVEL PLUGINS -->
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script type="text/javascript" src="{{asset('bundles/BundleAdmin/assets')}}/plugins/chosen-bootstrap/chosen/chosen.jquery.min.js"></script>
	<script type="text/javascript" src="{{asset('bundles/BundleAdmin/assets')}}/plugins/ckeditor/ckeditor.js"></script>
	<!--<script type="text/javascript" src="{{asset('bundles/BundleAdmin/assets')}}/scripts/common.js"></script>-->
	<script src="{{asset('bundles/BundleAdmin/assets')}}/scripts/table-managed.js"></script>
      
	<script src="{{asset('bundles/BundleAdmin/assets')}}/scripts/form-validation.js"></script>
	<!-- END PAGE LEVEL STYLES -->    
	<script>
		jQuery(document).ready(function() {   
		   // initiate layout and plugins
		   /*FormValidation.init();
		   $("#page_frm").validate();*/			   
		});
		
		function showMyParameters(cat)
		{		  
		   if(cat !='')
		   {	
		   	  var path = "{{path('get_question_category')}}";
			   $.ajax({
					type: 'POST',
					url: path ,
					data: 'parent_cat=' + cat,
					dataType: "json",
					success: function(res)
					{
						if (res.msg != '') {
							$("#bundle_adminbundle_kidskulacontactquestion_parent").html(res.msg);
						}
						else
						{
						   $("#bundle_adminbundle_kidskulacontactquestion_parent").html('<option value="">Something went wrong</option>');
						}
					}
				});
		   }
		}
		
		function showMyQuestion(cat)
		{
		   if(cat !='')
		   { 
			   $('#hidden_categoryid').val(cat);
		   }
		 }
	</script>
	<!-- END JAVASCRIPTS -->
    
</div>                
     
{% endblock content %}



