{% extends 'BundleAdminBundle:layout:base.html.twig' %}

{% block content -%}
<div class="container-fluid">
    <!-- BEGIN PAGE TITLE & BREADCRUMB-->
    <h3 class="page-title">
        User Details 
    </h3>
    <ul class="breadcrumb">
        <li>
            <i class="icon-home"></i>
            <a href="{{path('bundle_admin_dashboard')}}">Home</a> 
            <i class="icon-angle-right"></i>
        </li>
         <li>
            
            <a href="{{path('bundle_admin_user')}}">Users</a> 
            <i class="icon-angle-right"></i>
        </li>
        <li><a href="#">User Details</a></li>
    </ul>
    <!-- END PAGE TITLE & BREADCRUMB-->
    <div class="row-fluid">
       
            <div class="span9">
                <div class="tab-content">
                    <div id="tab_1-1" class="tab-pane active">
                        <div style="height: auto;" id="accordion1-1" class="accordion collapse">
                            <form action="#">
                                
                                
                                <label class="control-label">First Name</label>
                                <input type="text" placeholder="John" value="{{ personal.firstName }}" class="m-wrap span8" />
                                <label class="control-label">Last Name</label>
                                <input type="text" placeholder="Doe" value="{{ personal.lastName }}" class="m-wrap span8" />
                                <label class="control-label">Mobile Number</label>
                                <input type="text" placeholder="+1 646 580 DEMO (6284)" value="{{ personal.phone }}" class="m-wrap span8" />
                                <label class="control-label">Gender</label>
                                {% if personal.gender==1 %}
                                <input type="text" placeholder="Design, Web etc." value="male" class="m-wrap span8" />
                                {% else %}
                                 <input type="text" placeholder="Design, Web etc." value="Female" class="m-wrap span8" />
                                 {% endif %}
                                <label class="control-label">Profile Message</label>
                                <input type="text" placeholder="Web Developer" value="{{ profile.profileMsg }}" class="m-wrap span8" />
                                <label class="control-label">Counrty</label>
                                <div class="controls">
                                    <input type="text" class="span8 m-wrap" style="margin: 0 auto;" value="{{ personal.country }}" data-provide="typeahead" data-items="4" data-source="[&quot;Alabama&quot;,&quot;Alaska&quot;,&quot;Arizona&quot;,&quot;Arkansas&quot;,&quot;US&quot;,&quot;Colorado&quot;,&quot;Connecticut&quot;,&quot;Delaware&quot;,&quot;Florida&quot;,&quot;Georgia&quot;,&quot;Hawaii&quot;,&quot;Idaho&quot;,&quot;Illinois&quot;,&quot;Indiana&quot;,&quot;Iowa&quot;,&quot;Kansas&quot;,&quot;Kentucky&quot;,&quot;Louisiana&quot;,&quot;Maine&quot;,&quot;Maryland&quot;,&quot;Massachusetts&quot;,&quot;Michigan&quot;,&quot;Minnesota&quot;,&quot;Mississippi&quot;,&quot;Missouri&quot;,&quot;Montana&quot;,&quot;Nebraska&quot;,&quot;Nevada&quot;,&quot;New Hampshire&quot;,&quot;New Jersey&quot;,&quot;New Mexico&quot;,&quot;New York&quot;,&quot;North Dakota&quot;,&quot;North Carolina&quot;,&quot;Ohio&quot;,&quot;Oklahoma&quot;,&quot;Oregon&quot;,&quot;Pennsylvania&quot;,&quot;Rhode Island&quot;,&quot;South Carolina&quot;,&quot;South Dakota&quot;,&quot;Tennessee&quot;,&quot;Texas&quot;,&quot;Utah&quot;,&quot;Vermont&quot;,&quot;Virginia&quot;,&quot;Washington&quot;,&quot;West Virginia&quot;,&quot;Wisconsin&quot;,&quot;Wyoming&quot;]" />
                                    <p class="help-block"><span class="muted">Start typing to auto complete!. E.g: US</span></p>
                                </div>
                                <label class="control-label">About</label>
                                <textarea class="span8 m-wrap" rows="3">{{ profile.profileAboutMe }}</textarea>
                                <label class="control-label">Website Url</label>
                                <input type="text" placeholder="http://www.mywebsite.com" value="{{ profile.profileWebsite }}" class="m-wrap span8" />
                                <div class="submit-btn">
                                    <a href="#" class="btn green">Save Changes</a>
                                    <a href="{{path('bundle_admin_user')}}" class="btn">Back</a>
                                </div>
                                
                            </form>
                        </div>
                    </div>
                   
                </div>
            </div>    
    </div>
{% endblock %}
