<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->
    <!-- BEGIN HEAD -->
    <head>
        <meta charset="utf-8" />
        <title>Kidskula</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport" />
        <meta content="" name="description" />
        <meta content="" name="author" />
        <!-- BEGIN GLOBAL MANDATORY STYLES -->
        <link href="{{asset('bundles/BundleAdmin/assets')}}/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="{{asset('bundles/BundleAdmin/assets')}}/plugins/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css"/>
        <link href="{{asset('bundles/BundleAdmin/assets')}}/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="{{asset('bundles/BundleAdmin/assets')}}/css/style-metro.css" rel="stylesheet" type="text/css"/>
        <link href="{{asset('bundles/BundleAdmin/assets')}}/css/style.css" rel="stylesheet" type="text/css"/>
        <link href="{{asset('bundles/BundleAdmin/assets')}}/css/style-responsive.css" rel="stylesheet" type="text/css"/>
        <link href="{{asset('bundles/BundleAdmin/assets')}}/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
        <link href="{{asset('bundles/BundleAdmin/assets')}}/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
        
        <!-- END GLOBAL MANDATORY STYLES -->
        <!-- BEGIN PAGE LEVEL STYLES -->
        <link href="{{asset('bundles/BundleAdmin/assets')}}/css/pages/about-us.css" rel="stylesheet" type="text/css"/>
        <!-- END PAGE LEVEL STYLES -->
        <link rel="shortcut icon" href="favicon.ico" />
         {% block custom_css %} 
        
        {% endblock %}
    </head>
    <!-- END HEAD -->
    <!-- BEGIN BODY -->
    <body class="page-header-fixed">
        <!-- BEGIN HEADER -->   
        {% block header %} 
            <!-- BEGIN SIDEBAR -->
		{{include('BundleAdminBundle:layout:header.html.twig')}}
            <!-- END SIDEBAR -->
        {% endblock %}
        <!-- END HEADER -->
        <!-- BEGIN CONTAINER -->   
        <div class="page-container row-fluid">
                {% block sidebar %} 
            <!-- BEGIN SIDEBAR -->
		{{include('BundleAdminBundle:layout:sidebar.html.twig')}}
            <!-- END SIDEBAR -->
                {% endblock %}

            <!-- BEGIN PAGE -->
            <div class="page-content">
			{% block content %}
                        {% endblock %}
            </div>
            <!-- END PAGE -->    
        </div>
        <!-- END CONTAINER -->
        <!-- BEGIN FOOTER -->
        {% block footer %}
        {{include('BundleAdminBundle:layout:footer.html.twig')}}
        {% endblock %}
        <!-- END FOOTER -->
        <!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
        <!-- BEGIN CORE PLUGINS -->   
        <script src="{{asset('bundles/BundleAdmin/assets')}}/plugins/jquery-1.10.1.min.js" type="text/javascript"></script>
        <script src="{{asset('bundles/BundleAdmin/assets')}}/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
        <!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
        <script src="{{asset('bundles/BundleAdmin/assets')}}/plugins/jquery-ui/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>      
        <script src="{{asset('bundles/BundleAdmin/assets')}}/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="{{asset('bundles/BundleAdmin/assets')}}/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>
        <!--[if lt IE 9]>
        <script src="{{asset('bundles/BundleAdmin/assets')}}/plugins/excanvas.min.js"></script>
        <script src="{{asset('bundles/BundleAdmin/assets')}}/plugins/respond.min.js"></script>  
        <![endif]-->   
        <script src="{{asset('bundles/BundleAdmin/assets')}}/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
        <script src="{{asset('bundles/BundleAdmin/assets')}}/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
        <script src="{{asset('bundles/BundleAdmin/assets')}}/plugins/jquery.cookie.min.js" type="text/javascript"></script>
        <script src="{{asset('bundles/BundleAdmin/assets')}}/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script>
        <!-- END CORE PLUGINS -->
        <script src="{{asset('bundles/BundleAdmin/assets')}}/scripts/app.js"></script>      
        <script>
            jQuery(document).ready(function() {
                App.init();
            });
        </script>
        {% block customjs %}
        
         {% endblock %}
        
        <!-- END JAVASCRIPTS -->
    </body>
    <!-- END BODY -->
</html>